.fix-navbar {
  z-index: 10;
  position: fixed;
  top: 0;
  width: 100%;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 10px;
  padding-bottom: 0;
  color: #333;
  font-size: 1.3rem;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.navbar-logo {
  width: 300px;
  margin: 5px 0px 0px 10px;

  object-fit: cover;
}

.navbar-links {
  display: flex;
  cursor: pointer;
}
.navbar-links2 {
  display: none;
}

.navbar-links a {
  color: #333;
  text-decoration: none;
  margin-right: 20px;
}
.navbar-links a:hover {
  color: black;

  text-decoration: underline;
}

.navbar-toggle {
  margin-right: 10px;
  cursor: pointer;
  display: none;
}

.bar {
  width: 25px;
  height: 3px;
  background-color: #fff;
  margin: 5px 0;
}
/* custom changes for drop down menu */

/* Show the navbar links in small screens */
@media (max-width: 850px) {
  /* .navbar-links {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 50px;
    right: 10px;
    background-color: white;
    padding: 10px;
    z-index: 2;
  } */

  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 10px;
    padding-bottom: 0;
    color: #333;
    font-size: 1.3rem;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  }

  .navbar-links {
    display: none;
  }
  .navbar-links2 {
    display: none;
    width: 100%;
    flex-direction: column;
    padding-left: 30px;
    padding-bottom: 20px;
    background-color: rgb(255, 255, 255, 0.9);
    line-height: 1.5;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  }
  .navbar-links2.open {
    display: flex;
  }

  .navbar-toggle {
    display: flex;
  }
  .center {
    display: flex;
    justify-content: center;
  }
  .navbar-links2 a {
    font-size: 1.5rem;
    color: #333;
    text-decoration: none;
  }
  .navbar-links2 a:hover {
    text-decoration: underline;
  }
}

@media (max-width: 500px) {
  .navbar {
    padding-left: 0;
  }
  .navbar-logo {
    width: 250px;
  }
}
/* drop downs */

.navbar-dropdown {
  display: none;

  flex-direction: column;
  position: absolute;

  padding: 10px;
  padding-top: 20px;
  line-height: 1.5;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);

  background-color: rgb(255, 255, 255, 0.9);
  width: 250px;

  cursor: pointer;
  /* Hide the content that overflows the max-height */
}

.navbar-dropdown.open {
  display: flex;
}

/* align chevron and Productos */
.text-dropdown {
  position: relative;
  display: block;
  align-items: center; /* Vertically center items within the link (text and icon) */
  text-decoration: none;
  color: #000;
  margin-right: 10px;
}
.products {
  display: flex;
  flex-direction: row;
}
.products2 {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
}

.link-products {
  margin-right: 0px !important;
}
/* small screen dropdown */
.navbar-dropdown2 {
  display: none;
  flex-direction: column;
  padding-left: 30px;
}
.navbar-dropdown2.open {
  display: flex;
}
